@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 타이틀만 이 폰트 */
@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html,body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
    font-family: 'IBMPlexSansKR-Regular';
}
ul, li{margin:0;padding:0;list-style:none}
#wrap{
    width: 100%;
    height: 100%;
}
.contents_area{
    max-width: 1100px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.navi_wrap{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
}
.navi_wrap:hover{
    background-color: rgba(255,255,255,0.7);
}
.navi_ul{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.navi_li{
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    padding: 20px;
}
.navi_li:hover{
    color: #000;
    
}
.navi_li.on{
    color: #000;
    
}
.fullpage {
    width:100%;
    height:100%;
    position:relative;
    top:0px;
    z-index:9;
}
.fullsection{
    width:100%;
    height:100%;
    position:relative;
}
.fullsection span{
    display: block;
    width: 100%;
    text-align: center;
}
/* .page1{background-color: #f7f3ed;} */
.page1{
    background: url(./img/bg_img.jpg) no-repeat center / cover;
}
.page2,.page3,.page4,.page5{
    background: linear-gradient(to bottom right,#abc0d1,#d1d7d5,#d0c0cd);
    /* background:linear-gradient(to bottom right, #c5dff5,#e2f1ec,#e0d1dd); */
}
.indicator {
    position:fixed;
    right: 2%;
    top:50%;
    transform:translateY(-50%); 
    z-index:999;
}
.indicator li {
    width: 7px;
    height: 7px;
    margin-bottom:30px; 
    border-radius:100%;
    background:#000;
    cursor:pointer;
    transition: all 0.3s;
}
.indicator li:hover{
    transform: scale(2);
}
.indicator .in {
    transform: scale(2);
}

/* 1page */
.intro_text{
    min-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    font-weight: 900;
    /* background-color: rgba(255,255,255,0.7); */
    padding: 50px;
    text-align: center;
    color: #3c3c3c;
}
.intro_text p {
    position: relative;
    top:100%;
    opacity: 0;
}
.intro_text p span{
    display: inline;
}
.txt_effect{
    border: 5px solid;
    padding: 5px 15px;
    border-radius: 20px;
    color: #000;
    margin-right: 10px;
}

/* 2page */
/* .bg_box{
    width: 80%;
    height: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-45%,-50%);
    background-color: rgba(255,255,255,0.4);
} */
.title{
    font-size: 45px;
    font-weight: 900;
    padding: 30px;
    font-family: 'LeferiPoint-BlackA';
    color: #fff;
}
.myinfo_wrap{
    width: 100%;
    height: 100px;
    display: flex;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.myinfo{
    width: calc(100% / 3);
    position: relative;
}
.info_icon{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 38%;
    top: 20%;
}
#person_icon{background: url(./img/person_icon.png) no-repeat center / cover;}
#cal_icon{background: url(./img/cal_icon.png) no-repeat center / cover;}
#add_icon{background: url(./img/add_icon.png) no-repeat center / cover;}
.info_name{
    position: absolute;
    left: 52%;
    top: 20%;
    font-size: 21px;
    font-weight: 600;
}
.info{
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 500;
}
.about_wrap{
    width: 100%;
    display: flex;
    gap: 30px;
}
.a_left{
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
}
.a_left p{
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    color: #000;
}
.a_right{
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}
.a_right p{
    font-size: 17px;
    font-weight: 500;
}
.small_tit{
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}
.small_tit span{
    display: inline;
    font-size: 16px;
    margin-left: 20px;
    color: #000;
}
/* 3page */
.skil_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #fff;
    padding: 0 20px;
    box-sizing: border-box;
}
.skils{
    width: 50%;
    height: 115px;
    display: flex;
}
.skil_img{
    width: 100px;
    height: 100px;
    align-self: center;
    margin-right: 20px;
}
#html{background: url(./img/html_icon.png) no-repeat center / contain;}
#css{background: url(./img/css_icon.png) no-repeat center / contain;}
#js{background: url(./img/js_icon.png) no-repeat center / contain;}
#jquery{background: url(./img/jquery_icon.png) no-repeat center / contain;}
#php{background: url(./img/php_icon.png) no-repeat center / contain;}
#mysql{background: url(./img/mysql_icon.png) no-repeat center / contain;}
#ajax{background: url(./img/ajax_icon.png) no-repeat center / contain;}
.skil_info{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    align-self: center;
}
.gauge_box{
    width: 100%;
    height: 15px;
    background-color: #fff;
    position: relative;
}
.guage{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:linear-gradient(to bottom right,#f0c5e8, #acd3f5);
    
}
.ninety{width: 90%;}
.seventy{width: 70%;}
.more_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}
.more_img{
    width: 80px;
    height: 80px;
    align-self: center;
    margin-right: 40px;
}
#github{background: url(./img/github_icon.png) no-repeat center / contain;}
#notion{background: url(./img/notion_icon.png) no-repeat center / contain;}
#gitkraken{background: url(./img/gitkraken_icon.png) no-repeat center / contain;}
#gitdesktop{background: url(./img/gitdesktop_icon.png) no-repeat bottom / 85px;}
#excel{background: url(./img/excel_icon.png) no-repeat center / contain;}
/* 4page */
/* .popup_wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 70px 0 20px 0;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    box-sizing: border-box;
} */
.pj_wrap{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.pj_container{
    width: 400px;
    height: 600px;
    perspective: 1100px;
}
.pj_card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.5s;
    transform-style: preserve-3d;  
}
.pj_front {
    z-index: 9;
}
.pj_back {
    z-index: 99;
}
.pj_front, .pj_back{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    backface-visibility: hidden;
    box-shadow: 5px 5px 10px 5px gray;
    border: 5px solid #fff;
}
.pj_img{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
#zerothings{
    background: url(./img/zerothings.png) no-repeat center / cover;
    border-bottom: 5px solid #fff;
}
#arton{
    background: url(./img/arton.png) no-repeat center / cover;
    border-bottom: 5px solid #fff;
}
.pj_info_box{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    padding: 15px;
    box-sizing: border-box;
}
.pj_name{
    font-size: 20px;
    font-weight: 600;
}
.pj_tit{
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
.pj_info_box span{
    display: inline;
    line-height: 1.8em;
}
.pj_back{
    transform: rotateY(180deg);
    padding: 15px;
    box-sizing: border-box;
}
.pj_back p{
    line-height: 28px;
    font-size: 18px;
}
.pj_btn_wrap{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
}
.pj_btn{
    width: 150px;
    border-radius: 5px;
    margin: 20px;
    box-sizing: border-box;
    width: 150px;
    border-radius: 5px;
    margin: 20px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}
.pj_btn a{
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
.view_btn{
    background-color: #000;
}
.view_btn a{
    color: #fff;
}
.git_btn{
    border: 1px solid #000;
    background-color: #fff; 
}
.git_btn a{
    color: #000;
}
.pj_container:hover .pj_card{
    transform: rotateY(180deg);
}
/* 5page */
.contact_wrap{
    width: 100%;
    display: flex;
    text-align: center;
    margin-top: 100px;
}
.con_box{
    width: calc(100% / 3);
}
.con_box a{
    text-decoration: none;
}
.con_icon{
    width: 200px;
    height: 200px;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
}
.con_icon:hover{
    transform: scale(1.2);
}
#mail_icon{background: url(./img/email_icon.png) no-repeat center / contain;}
#kakao_icon{background: url(./img/kakao_1.jpg) no-repeat center / contain;}
#git_icon{background: url(./img/github_icon.png) no-repeat center / contain;}
.con_txt{
    padding-top: 20px;
    font-size: 25px;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
}
.closing_ment{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding: 100px 0;
}